.agendaContainer {
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  color: #4a2c2a; /* Cor do Título */
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.subtitle {
  color: #6d5d5b; /* Cor do Subtítulo */
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 40px;
  border: 1px solid #6d5d5b;
  display: inline-block;
  padding: 5px 20px;
  border-radius: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.weekGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}